{% extends "encyclopedia/layout.html" %}

{% block title %}
    Вики League Of Legends
{% endblock %}

{% block body %}
    <section class="section">
        <div class="container">
            <h1 class="title">Новая страница</h1>
            <hr>
            <form action="{% url 'new_page' %}" method="POST" class="form">
                {% csrf_token %}
                <div class="field">
                    <label class="label">Название:</label>
                    <div class="control">
                        <input class="input" type="text" name="title" placeholder="Введите название темы">
                    </div>
                </div>
                <div class="field">
                    <label class="label">Содержание темы:</label>
                    <div class="control">
                        <textarea class="textarea" name="content" rows="6" style="height: 50vh"></textarea>
                    </div>
                </div>
                <div class="control">
                    <input type="submit" value="Создать страницу" class="button is-primary">
                </div>
            </form>
        </div>
    </section>
{% endblock %}
